
        /* Style global du tableau */
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 120px auto;
            font-family: Arial, sans-serif;
            font-size: 0.9em;
        }

        /* Style des cellules du tableau */
        table, th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        /* Style de l'en-tête du tableau */
        th {
            background-color: #f2f2f2;
            color: #333;
        }

        /* Style des lignes du tableau pour améliorer la lisibilité */
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        /* Style au survol d'une ligne du tableau */
        tr:hover {
            background-color: #eaeaea;
        }