/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Serif Display', serif;
}

body.light-theme {
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #3B556D;
}

/* TRANSITION */

a {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #0B162C;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #3B556D;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #3B556D;
}

.logo {
    font-size: 2rem;
    color: #0B162C;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

img {
    display: flex;
    margin: 0 auto;
    width: 80%;
}