/* Réinitialisation des styles par défaut du navigateur */
body,
html,
div,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style de l'arrière-plan de la page */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Style de la boîte de connexion */

/* Style du logo */

/* Style du formulaire de connexion */

.email {
  margin-bottom: 20px;
}



/* Style du bouton de connexion */