body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style général pour le formulaire */

/* Style pour les titres */

/* Style pour les étiquettes de formulaire */

/* Style pour les éléments de formulaire */


/* Style pour les options des listes déroulantes */

/* Style pour les messages d'erreur (ajoutez ces classes dans votre code HTML en cas d'erreur) */

/* Style pour les éléments optionnels (comme "nom_epouse", "livret_famille", etc.) */

.logo {
    padding: 20px;
    margin: auto;
    max-width: 20%;
    display: flex;
    justify-content: center;
}