body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style général pour le formulaire */
form {
    max-width: 500px;
    /* Largeur maximale du formulaire */
    margin: 0 auto;
    /* Centrer le formulaire horizontalement */
    padding: 20px;
    background-color: #ffffff;
    /* Couleur de fond du formulaire */
    border: 1px solid #ffffff;
    /* Bordure autour du formulaire */
    border-radius: 15px;
    /* Coins arrondis */
}

/* Style pour les titres */
h1 {
    font-size: 30px;
    text-align: center;
    /* Centrer le titre */
    color: #007bff;
}

/* Style pour les étiquettes de formulaire */
label {
    display: block;
    /* Afficher les étiquettes sur une ligne séparée */
    margin-bottom: 10px;
    /* Espacement entre les étiquettes */
}

/* Style pour les éléments de formulaire */
input[type="text"],
input[type="date"],
input[type="time"],
input[type="file"],
select {
    width: 100%;
    /* Largeur totale des éléments de formulaire */
    padding-top: 10px;
    /* Espacement interne */
    margin-bottom: 15px;
    /* Espacement entre les éléments */
    border: 1px solid #CDDFF4;
    /* Bordure autour des éléments */
    border-radius: 3px;
    /* Coins arrondis */
}


/* Style pour les options des listes déroulantes */
select {
    padding: 5px;
}

/* Style pour les messages d'erreur (ajoutez ces classes dans votre code HTML en cas d'erreur) */
.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Style pour les éléments optionnels (comme "nom_epouse", "livret_famille", etc.) */
input[type="text"].optional,
input[type="file"].optional,
select.optional {
    /* Ajoutez ici le style pour les éléments optionnels */
}

.logo {
    padding: 20px;
    margin: auto;
    max-width: 20%;
    display: flex;
    justify-content: center;
}

.derou1 {
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.derou2 {
    width: 35%;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.bouton {
    border-color: black;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
}