body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  margin-top: 160px;
  margin-left: 45px;
}


/*nom*/

.nom {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  border-radius: 20px;
  color: #a6a6a6;
  margin-top: 20px;
}

/*prenom*/

.prenom {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  border-radius: 20px;
  color: #a6a6a6;
  margin-top: 20px;
}

/*Sexe*/

/*Social*/

/*Téléphone*/

.telephone {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  border-radius: 20px;
  color: #a6a6a6;
  margin-top: 20px;
}


/*médicaux*/

/*Probleme*/
/*email*/
  .email {
      background: white;
      box-shadow: 0 0 2em #e6e9f9;
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 0.1em;
      border-radius: 20px;
      color: #a6a6a6;
      margin-top: 20px;
    }